services:
  web:
    build: .
    command: bash ./docker-startup.sh
    volumes:
      - .:/code
    ports:
      - 8000:8000
    depends_on:
      - db

    # entrypoint: ./docker-entrypoint.sh
  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data:
