services:
  web:
    build: .
    command: bash ./docker-startup.sh
    volumes:
      - .:/code
      - static_volume:/static
      - media_volume:/media
    ports:
      - "2001:8080"
    expose:
      - 8000
    depends_on:
      - db

  nginx:
    build: ./nginx
    ports:
      - "8000:8000"
    volumes:
      - static_volume:/static
      - media_volume:/media
    depends_on:
      - web

  db:
    image: postgres:16
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
  static_volume:
  media_volume:
