<DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Coonva{% block title %}{% endblock title %}</title>
	<link rel="stylesheet" href="{% static 'styles.css' %}">
	<script src="{% static 'script.js' %}"></script>
	{% block extra_head %}{% endblock %}
</head>

<div class="sidenav">
	{% if user.is_authenticated %}

		<img class='profile_pic' width="75" height="75" src='{{ user.profile_image.url }}'></img>
		<h3>{{ user.username.upper }}</h3>
	{% endif %}
	<a href="{% url "app:index" %}"> Home</a>
	<a href="{% url "accounts:settings" %}"> Settings</a>
	<a href="#services">Services</a>
	<a href="#clients">Clients</a>
	<a href="#contact">Contact</a>
	{% block sidebar%}
	{% endblock sidebar %}
</div>


<body class="main">
<div id="toast-container"></div>
<div class="navbar">
	<h1>{% block heading %}{% endblock heading %}</h1>

	{% if user.is_authenticated %}
		<navbar-buttons>
			<form method="post" action="{% url 'accounts:logout' %}">
				{% block extra_navbar %}{% endblock extra_navbar %}
				{% csrf_token %}
				<button type="submit">Logout</button>
				{% if user.is_staff %}
					<a class="button" href="/admin">Admin Site</a>
				{% endif %}
			</form>
		</navbar-buttons>
	{% else %}
	<navbar-buttons>
		<form>
			<a class="button" href="{% url 'accounts:login' %}">Login</a>
			<a class="button" href="{% url 'accounts:register' %}">Sign Up</a>
		</form>
	</navbar-buttons>
	{% endif %}
</div>
	{% block page_content %}
	{% endblock page_content %}
	
</body>

</html>